<section class="contact">
  <h1 class="title">CONTACTO</h1>

    <article>
        <div>
           <div class="data">
                <i class="fas fa-envelope"></i>
                <p class="data-title"><strong>Correo: </strong></p>
                <p class="data-info">alfonsocadiz1994&#64;gmail.com</p>
           </div>
           <div class="data">
                <i class="fas fa-phone"></i>
                <p class="data-title"><strong>Teléfono: </strong></p>
                <p class="data-info">618891926</p>
           </div>
           <div class="data">
                <i class="fab fa-github" style="margin-right: 8px;"></i>
                <p class="data-title"><strong>Github: </strong></p>
                <a href="https://github.com/aanillo" target="_blank" rel="noopener noreferrer">
                    <p class="data-info">aanillo</p>
                </a>
           </div>
           <div class="data">
            <i class="fab fa-linkedin" style="margin-right: 8px;"></i>
                <p class="data-title"><strong>Linkedin: </strong></p>
                <a href="https://www.linkedin.com/in/alfonsoanillo/" target="_blank" rel="noopener noreferrer">
                    <p class="data-info">Alfonso Jesús Anillo Romero</p>
                </a>
           </div>
        </div>
    </article>

</section>