.me {
  margin: 0 auto;
  padding: 0;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 80%;
  gap: 3rem;
}

h1 {
  font-size: 3em;
  background: linear-gradient(90deg, lightblue, cornflowerblue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
}

p {
    font-size: 1.3em;
}

a {
    color: cornflowerblue;
}


@media(max-width: 1024px) {

    .me {
        margin-top: 8em;
    }
}


@media(max-width: 600px) {
    
    .me {
        margin-top: 20em;
        font-size: 0.8em;
    }
}