<section class="me">
    <h1 class="title">SOBRE MÍ</h1>
    <article>
        <p>Comencé mi trayectoria educativa y profesional como administrativo, hasta que decidí interesarme por el mundo de la programación informática y descubrí que me apasionaba.</p>
        <p>Mis inicios en cuanto a la formación fueron a través de un curso de <a>Cloud Computing</a> y otro basado en programación con <a>Java</a>. Con el objetivo de adquirir una base sólida que me permitiera desarrollar aplicaciones de forma eficaz, decidí cursar el ciclo formativo de grado superior en <a>Desarrollo de Aplicaciones Web</a>, donde he obtenido grandes resultados y he elaborado proyectos tanto de backend, como de front, incluyendo desarrollos full-stack.</p>
        <p>Actualmente me encuentro en búsqueda activa de empleo o de oportunidades para participar en nuevos proyectos.</p>
        <p>No dudes en contactarme si tienes alguna consulta o propuesta. Estaré encantado de atenderte.</p>
    </article>
</section>
