.projects {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 90%;
  gap: 3rem;
  margin-top: 10%;
}

h1 {
  font-size: 3em;
  background: linear-gradient(90deg, lightblue, cornflowerblue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
}

.projects-main {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 20px;
    border-radius: 10px;
}

.projects-enlaces {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    gap: 2%;
}

.projects-enlaces a {
    width: 500px;
    height: 50px;
    background: linear-gradient(145deg,#020617,#0f172a);
    border-radius: 12px;
    border: solid 2px cornflowerblue;
    text-align: center;
    font-size: 1.3em;
    display: flex;             
    justify-content: center;   
    align-items: center; 
    cursor: pointer;      
    color: white;      
    transition: all 0.3s ease;
}

.projects-enlaces a:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(100,149,237,0.5);
}

.projects-enlaces a.active {
    background: linear-gradient(145deg, lightblue, cornflowerblue);
    transform: scale(1.1);
    color: black;
}

article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em 0.3em;
}

.card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(145deg,#020617,#0f172a);
    border-radius: 15px;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    height: 680px;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2), 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-8px) scale(1.03);
    border: solid 2px cornflowerblue;
    box-shadow: 0 10px 25px rgba(100,149,237,0.25), 0 5px 10px rgba(0,0,0,0.15);
}

.card-img {
    object-fit: cover;   
    width: 100%;          
    display: block;      
    margin: 0 auto;      
}


.card h3 {
    font-size: 1.8em;
    color: lightblue;
    text-decoration: underline;
    text-align: center;
}

.btn-git {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2%;
}

.btn-git button {
    width: 250px;
    height: 40px;
    background: linear-gradient(145deg, #60a5fa, #3b82f6);
    border: none;
    border-radius: 12px;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.btn-git button:hover {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 4px 10px rgba(59,130,246,0.2); 
    border: solid 3px black;
}


@media(max-width: 1024px) {

    .projects {
        margin-top: 40%;
    }

    article {
        width: 80%;
        margin-left: 0.5em;
        gap: 4em;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: 100%;
        height: auto;
        align-items: center;
    }

    .card-img img {
        width: 250px;
    }
}


@media(max-width: 600px) {

    .projects {
        margin-top: 20em;
    }

    .projects-enlaces {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .projects-enlaces a {
        width: 150px;
    }

    article {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .card-img img {
        width: 250px;
    }

    .card {
        width: 80%;
    }
}