<section class="home">
    <article class="perfil-datos">
        <div class="datos">
            <h1>¡Hola, soy ALFONSO JESÚS ANILLO ROMERO!</h1>
            <h2>{{ displayedText }}</h2>
            <h3>Bienvenido a mi portfolio</h3>
        </div>
        <div class="enlace">
            <a (click)="goToContact()">
                <button>Contacto</button>
            </a>
            <a href="CV - Alfonso.pdf" download="CV-Alfonso.pdf">
                <button>Descargar CV</button>
            </a>
        </div>
    </article>
    <article class="perfil-img">
        <img src="img/perfil.png" alt="foto de perfil">
    </article>
</section>