.education {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 80%;
  gap: 3rem;
  margin-top: 15%;
}

h1 {
  font-size: 3em;
  background: linear-gradient(90deg, lightblue, cornflowerblue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
}

article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h2 {
    color: lightblue;
    font-size: 2em;
}

.data1 {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 90%;
}

.data2 {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 90%;
}


.card {
    background: linear-gradient(145deg,#020617,#0f172a);
    border-radius: 12px;
    border: solid 2px cornflowerblue;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    width: 90%;
    transition: all 0.3s ease;
}

.card:hover {
    border: 2px solid cornflowerblue;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(100,149,237,0.5);
}

h3 {
    color: lightblue;
}

.info {
    margin-top: 10%;
}


@media(max-width: 1024px) {

    .education {
        margin-top: 30%;
    }

    h1 {
        text-align: center;
    }
}


@media(max-width: 600px) {

    .education {
        margin-top: 10em;
    }

    article {
        grid-template-columns: 1fr;
    }

    .data2 {
        margin-top: 10%;
    }
}