<section class="education">
  <h1 class="title">FORMACIÓN Y EXPERIENCIA</h1>

    <article>
        <div class="data1">
            <h2>EDUCACIÓN</h2>
            <div class="card">
                <h3>Grado Superior en Desarrollo de Aplicaciones Web</h3>
                <p><strong>Centro: </strong>IES Rafael Alberti - Cádiz</p>
                <p><strong>Fecha: </strong>Septiembre 2023 - Junio 2025</p>
                <p>Desarrollo web tanto en el entorno del servidor como en el entorno del cliente, así como desarrollo de diseño web y despliegue de aplicaciones. Las tecnologías más importantes han sido Spring Boot, Angular, Laravel y Tailwind.</p> 
                <p>Diseño y gestión de bases de datos relacionales.</p>
            </div>
            <div class="card">
                <h3>Curso de Formación programación con Java</h3>
                <p><strong>Centro: </strong>EOI y Generation - online</p>
                <p><strong>Fecha: </strong>Octubre 2022 - Febrero 2023</p>
                <p>Programación con Java y Spring Boot, así como aprendizaje de HTML, CSS y SQL.</p>  
            </div>
            <div class="card">
                <h3>Curso de Formación Cloud Computing</h3>
                <p><strong>Centro: </strong>EOI y Generation - online</p>
                <p><strong>Fecha: </strong>Noviembre 2021 - Marzo 2022</p>
                <p>Primer contacto con la programación, con C# como lenguaje y nociones de desarrollo en la nube de Azure.</p> 
            </div>
        </div>
    
        <div class="data2">
            <h2>EXPERIENCIA</h2>
            <div class="card">
                <h3>Desarollador front</h3>
                <p><strong>Empresa: </strong>Controlnet - Jerez de la Frontera, Cádiz</p>
                <p><strong>Fecha: </strong>Marzo 2025 - Junio 2025</p>
                <p>Participación en proyectos, trabajando con Ionic y Angular.</p>
                <p>Consumo de APIs, implementación de diseños y gestión de componentes y rutas.</p>
            </div>
            <h2 class="info">INFORMACIÓN ADICIONAL Y OTRAS EXPERIENCIAS</h2>
            <div class="card">
                <h3>B2 Inglés - Cambridge</h3>
                <p>Certificado B2 por Cambridge.</p>
            </div>
            <div class="card">
                <h3>Administrativo y gestor de inventarios</h3>
                <p><strong>Formación:</strong> Técnico Superior en Administración.</p>
                <p>Experiencia en tareas administrativas y gestión de inventarios en entornos comerciales e industriales.</p>
            </div>
        </div>

        
    </article>

</section>